body{
				background-color: papayawhip;
				padding: 5px;
				
}
center {
				text-decoration-color: mediumseagreen;
}
a{
				display: block;
  width: 100%;
  text-align: center;
}
h2{
					text-decoration-color: mediumseagreen;
}
